@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f4f6; 
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

//Header(Navbar)
.navcontainer {
  background-color: cadetblue;
  font-size: 1.2rem;
  font-family: sans-serif;
  height: 55px;
  }


header {
    position: sticky;
    top: 0;
    z-index: 10;
   }

 #navbar {
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    margin: auto;
  }


#navbar ul{
    display: flex;
    align-items: center;
  }

#navbar {
    align-items: center;
    justify-content: space-between;
  }

#navbar ul li {
      list-style-type: none;
      float: center;
      padding: 0;
      margin: 0;
  }    

#navbar li a {
    display: block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    transition-property: background-color;
    transition-duration: 2s;
  }

  #navbar li a:hover {
    background-color: #ffffff;
  }

  //Footer
  /*Footer*/
footer{
  background: cadetblue;
  padding-top: 50px;
}

.footercontainer{
  width: 1140px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.footer-content{
  width: 100%;
}


.footercontainer h3{
  font-size: 28px;
  margin-bottom: 15px;
  text-align: center;
}

.footer-content p{
  width: 190px;
  margin: auto;
  padding: 7px;
  text-align: center;
  font-size: 1.3rem;
}

.footer-content ul{
  text-align: center;
}

.list{
  padding: 0;
}

.list li{
  width: auto;
  text-align: center;
  list-style-type: none;
  padding: 7px;
  position: relative;
}

.list li a{
  color: #000000;
}

.list li::before{
  content: '';
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 100%;
  width: 0;
  height: 2px;
  background: rgb(248, 248, 248);
  transition-duration: .5s;
}

.list li:hover::before{
  width: 70px;
  }

.social-icons{
  text-align: center;
  padding: 0;
}

.social-icons li{
  display: inline-block;
  text-align: center;
  padding: 5px;
}

.social-icons i{
  color: #f1f1f1;
  font-size: 25px;
}

.social-icons a{
  display: inline-block;
  font-size: 22px;
  margin-right: 20px;
  margin-left: 9px;
  gap: 10rem;
  transition: all .40s ease;
}
  
.social-icons a:hover{
  color: #fff;
  transform: translateY(-5px);
}

.bottom-bar{
  background: #696969;
  text-align: center;
  padding: 10px 0;
  margin-top: 50px;
}

.bottom-bar p{
  color: antiquewhite;
  margin: 0;
  font-size: 16px;
  padding: 7px;
}